<template>
<navBar/>
<div class="container">
    <h1>Mur de conversation</h1>
                        
            <div class="card p-3 border-blue mt-3"> 
                <div id="card">
                <Post v-for="post in posts" v-bind:key="post.id" :post="post" />
                
                </div>
            </div>
           
        
</div>
</template>

<script>
import navBar from '../components/navBar.vue'
import Post from '../components/Post.vue'
import axios from 'axios'

export default {
  name:'Wall',
  components:{
    navBar,
    Post
  },
  data(){
      return{
          users:[],
          posts:[],
        
          comments:[],
        
        
     }

  },
   created(){
        axios.get("http://localhost:3000/api/users" , {
            headers: {
               Authorization: "Bearer " + sessionStorage.token,
            },
         })
         .then((response)=> 
         (this.users = response.data))
         .catch((err) => console.log(err));

         axios.get("http://localhost:3000/api/auth/posts", {
             headers: {
                 Authorization: "Bearer " + sessionStorage.token,
             },
         })
         .then((response)=>{console.log(response),
         this.posts= response.data})
         .catch((err) => console.log(err));
   },
   
   
  }





</script>



<style scoped>
h1{
    font-family: 'Comic Sans MS', cursive;
    color:red;
}
.card{
   border: 1px solid red;
   box-shadow: 2px 2px 2px red;
}
.form{
    margin-top: 30px;
}
</style>